@import "tailwindcss";

:root {
  --background: #f3f2f7;
  --foreground: #ffff;
  --darkground: #17161e;
  --darkforeground: #24232C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f2f7;
    --foreground: #ffff;
  }
}

/* font payda */
.peydaReg {
  font-family: var(--font-peydaReg);
}
.peydaMed {
  font-family: var(--font-peydaMed);
}
.peydaSemi {
  font-family: var(--font-peydaSemi);
}
.peydaBold {
  font-family: var(--font-peydaBold);
}

* {
  font-family: var(--font-peydaMed);
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-peydaReg), Arial, Helvetica, sans-serif;
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: all 1s;
}
.body-dark {
  background: var(--darkground);
  color: white;
  font-family: var(--font-peydaReg), Arial, Helvetica, sans-serif;
  direction: rtl;
  transition: all 1s;
}

.body-dark .element {
  transition: all 1s;
  background: var(--darkforeground);
}

.body-light {
  transition: all 1s;
  background: var(--background);
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--darkground);
    color: white;
  }
}
.body-light .element {
  background: white;
}

.MainLayoutContainer {
  display: flex;
  gap: 20px;
}
.SideBarNavContainer {
  display: flex;
  width: 320px;
}
.MainElementContainer {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 25px;
}

.apexcharts-canvas {
  cursor: crosshair;
}
.apexcharts-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* عنوان سمت چپ، لجند سمت راست */
  gap: 10px; /* فاصله بینشون */
  flex-wrap: nowrap; /* خطی بمونه */
}

.bgrainbow {
  background-image: url("/assets/mastercard-bg.svg");
  background-size: cover;
  background-position: center;
}

.bg-blanced {
  background-image: url("/assets/balance-bg.svg");
  background-size: cover;
  background-position: center;
}
